body {
    background: white;
    color: #73879C;
}

.tile_count .tile_stats_count,
ul.quick-list li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.paymentPic{
    height: 242px !important;
    width:100%;
}
.tile_count .tile_stats_count {
    border-bottom: 1px solid #D9DEE4;
    padding: 0 10px 0 20px;
    position: relative;
}

.tile_count .tile_stats_count .count {
    font-size: 30px;
    line-height: 47px;
    font-weight: 600;
}

.tile_count .tile_stats_count .count_bottom i {
    width: 12px;
}

.green {
    color: #1ABB9C;
}

.btn-group,
.btn-group-vertical {
    display: block;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #5cb85c !important;
    border-color: #4cae4c !important;
}

textarea {
    resize: vertical;
    /* user can resize vertically, but width is fixed */
}

.sliderTable tbody tr {
    height: 50px;
    font-size: 15px;
}

.input-group-addon {
    min-width: 140px;
}

.panel .panel-heading {
    background: #dff0d8;
    color: #3c763d;
    border-color: #d6e9c6;
}

.pagination {
    margin: 0;
    float: right;
}

table.dataTable {
    font-size: 13px;
}

@media (min-width: 768px) {
    .tile_count .tile_stats_count span {
        font-size: 13px;
    }
    .tile_count .tile_stats_count .count {
        font-size: 40px;
    }
    .tile_count .tile_stats_count span {
        font-size: 13px;
    }
}

@media (min-width: 992px) {
    .tile_count .tile_stats_count {
        margin-bottom: 10px;
        border-bottom: 0;
        padding-bottom: 10px;
        border-left: 2px solid #73879c;
    }
}

